.container{
    display: flex;
}
.filters-container{
    flex:2;
}
.tables-container{
    margin-top: 30px;
    flex:10;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }